<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Objetivos</h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/objetivos/index.html.erb</p>
</section>